[Unit]
Description=PacketFence Service
After=network.target pfconfig.service mariadb.service

[Service]
Type=forking
ExecStart=/usr/local/pf/bin/pfcmd service pf start
ExecStop=/usr/local/pf/bin/pfcmd service pf stop


[Install]
WantedBy=multi-user.target
